
<h1><%= @result_name %> Results</h1>

<div>
  <p>
    <% @inputs.keys.each do |a_key| %>
    <%= a_key.capitalize %>  
  </p>
  <p>
    <%= @inputs.fetch(a_key) %>
  </p>
    <% end %>

  <p>
    <%= @result_name.capitalize %>
  </p>

  <p>
    <%= @result %>
  </p>

</div>

<a href="/square_root/results">Calculate another square root</a>
